#uiSignupPagesCreateUserForm,
#uiSignupPagesConfirmAndDeployForm {
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
  gap: 1.125rem;
  text-align: center;
  box-sizing: border-box;
}
.uiSignupPagesCreateUserFormTitleContainer {
  display: grid;
  align-items: center;
}
#uiSignupElementsContainer.uiSignupPagesCreateUserContainer > section {
  padding-bottom: 2rem;
}
.uiSignupPagesCreateUserFormNameFields {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  gap: 0.75rem;
}
