.uiSignupPagesConfirmAndDeployPasswordValidatorHelp {
  display: grid;
  align-items: center;
  justify-items: start;
  margin-left: 1rem;
}
.uiSignupPagesConfirmAndDeployPasswordValidatorCheckContainer {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-items: start;
  gap: 0.5rem;
}
.uiSignupPagesConfirmAndDeployPasswordValidatorCheck {
  width: 0.75rem;
  height: 1rem;
  display: grid;
  align-items: center;
}
