.uiSignupElementsCheckBox {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  gap: 0.5rem;
}
.uiSignupPagesCreateUserFormTOS {
  grid-template-columns: max-content minmax(9.375rem, 18.75rem);
}
.uiSignupPagesCreateUserFormTOS .uiSignupElementsCheckBoxLabelMessage {
  display: flex;
  flex-wrap: wrap;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}
.uiSignupPagesCreateUserFormTOS .uiSignupElementsCheckBoxAdornment {
  align-self: start;
  margin-top: 2px;
}
.uiSignupElementsCheckBox input {
  position: absolute;
  visibility: hidden;
  pointer-events: none;
}
.uiSignupElementsCheckBox label {
  cursor: pointer;
}

.uiSignupElementsCheckBox.uiSignupError .uiSignupElementsCheckBoxAdornment {
  border-color: var(--red-500);
}

.uiSignupElementsCheckBoxAdornment {
  background-color: transparent;
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  border: 0.0625rem solid var(--grey-500);
  border-radius: 0.125rem;
}
.uiSignupElementsCheckBoxAdornment:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.uiSignupElementsCheckBoxError {
  grid-column: 2;
}
