.uiSignupElementsText {
  position: relative;
}
.uiSignupElementsTextWhitespaceFix {
  /* account for the fonts extra whitespace at the bottom */
  top: 3px;
}

.uiSignupElementsTextGrey000 {
  color: var(--grey-000);
}
.uiSignupElementsTextGrey200 {
  color: var(--grey-200);
}
.uiSignupElementsTextBlue200 {
  color: var(--blue-200);
}
.uiSignupElementsTextBlue500 {
  color: var(--blue-500);
}
.uiSignupElementsTextGreen500 {
  color: var(--green-500);
}
.uiSignupElementsTextRed500 {
  color: var(--red-500);
}
