.uiSignupElementsButton {
  display: grid !important;
  align-items: center;
  justify-content: center;
  height: 2.75rem;
  margin-top: 0 !important;
  min-width: 9.375rem;
}
.uiSignupElementsButtonLg {
  height: 3.5rem;
}
.uiSignupElementsButtonIcon {
  grid-auto-flow: column;
  grid-auto-columns: max-content max-content;
  gap: 0.5625rem;
}

/* this override is because the secondary style is different */
a.uiSignupElementsButton.btn.btn-secondary {
  background: transparent !important;
  color: var(--grey-000) !important;
  border-color: var(--blue-500) !important;
  border-width: 0.0625rem;
}
a.uiSignupElementsButton.btn.btn-secondary:hover {
  background: rgba(0, 0, 0, 0.2) !important;
}

a.uiSignupElementsButton__pink {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
  background-color: var(--pink-500) !important;
  border-color: var(--pink-500) !important;
}
a.uiSignupElementsButton__pink:hover {
  background-color: var(--pink-700) !important;
  border-color: var(--pink-700) !important;
}
