.uiSignupElementsButton {
  display: grid !important;
  align-items: center;
  justify-content: center;
  height: 44px;
  margin-top: 0 !important;
  min-width: 150px;
}
.uiSignupElementsButtonArrow {
  grid-auto-flow: column;
  grid-auto-columns: max-content max-content;
  gap: 9px;
}

.uiSignupElementsButtonArrow {
  grid-auto-flow: column;
  grid-auto-columns: max-content max-content;
  gap: 9px;
}
.uiSignupElementsButtonArrow .uiSignupElementsIcon {
  /* we adjust the text because of its weird white space, need to fix button icons to align with the text */
  position: relative;
  top: 3px;
}

/* this override is because the secondary style is different */
a.uiSignupElementsButton.btn.btn-secondary {
  background: transparent !important;
  color: var(--grey-000) !important;
  border-color: var(--blue-500) !important;
}
a.uiSignupElementsButton.btn.btn-secondary:hover {
  background: rgba(0, 0, 0, 0.2) !important;
}
