#uiSignupElementsContainer {
  position: relative;
  width: 1120px;
  height: 600px;
  display: grid;
  justify-items: stretch;
  align-items: stretch;
  border-radius: 1rem;
  border: solid 0.0625rem var(--grey-500);
  overflow: hidden;
}
#uiSignupElementsContainer aside img {
  max-width: 25rem;
}
.uiSignupElementsContainerBackArrow {
  color: var(--grey-000);
  position: absolute;
  top: 1.25rem;
  left: 1.25rem;
  cursor: pointer;
}
#uiSignupElementsContainer.uiSignupElementsContainer-full-width {
  padding: 0;
  grid-template-columns: 50% 50%;
}
#uiSignupElementsContainer:not(.uiSignupElementsContainer-full-width) {
  padding: 2.5rem 3rem 3.125rem 3rem;
  grid-auto-flow: row;
}

#uiSignupElementsContainer:not(.uiSignupElementsContainer-full-width) > section {
  display: grid;
  align-items: stretch;
  justify-items: stretch;
}

#uiSignupElementsContainer.uiSignupElementsContainer-full-width > section {
  background-color: var(--grey-800);
  display: flex;
  flex-direction: column;
  padding: 2.8125rem 0;
  justify-content: flex-end;
  align-items: center;
  gap: 0.75rem;
}
#uiSignupElementsContainer > aside {
  display: grid;
  align-items: center;
  justify-items: center;
}

#uiSignupElementsContainerUnsureModal {
  display: grid;
  align-items: center;
  justify-items: center;
  z-index: 9999;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#uiSignupElementsContainerUnsureModalBackdrop {
  background-color: var(--grey-900);
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#uiSignupElementsContainerUnsureModalContent {
  z-index: 1000;
  background-color: var(--grey-700);
  width: 25rem;
  display: grid;
  gap: 1.5rem;
  padding: 2rem 1.5rem;

  border-radius: 0.3125rem;
  box-shadow: 0.125rem 0.375rem 0.5rem 0.375rem rgba(13, 13, 40, 0.5);
  border: solid 0.0625rem var(--grey-500);
}

#uiSignupElementsContainerUnsureModalContent footer {
  padding-top: 1rem;
  display: grid;
  grid-auto-flow: column;
  gap: 0.5rem;
}
