#uiSignupPagesGettingStartedCallouts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: start;
  gap: 0.75rem;
  margin: 0;
  padding-left: 2.25rem;
}
#uiSignupPagesGettingStartedCalloutItem {
  color: var(--grey-000);
  font-size: 1.3125rem;
  list-style: disc;
}

#uiSignupPagesGettingStartedFooter {
  border: 0.125rem solid transparent;
  background-color: var(--grey-800);
  padding: 2rem 2.5rem;
  border-radius: 0.5rem;
  margin: 2.375rem 0 2.125rem 0;
}
#uiSignupPagesGettingStartedFooter.uiSignupPagesGettingStartedFooterError {
  border-color: var(--red-500);
}
#uiSignupPagesGettingStartedForm > div {
  display: grid;
}
#uiSignupPagesGettingStartedForm > div.uiSignupPagesGettingStartedFormSelection {
  gap: 0.75rem;
  grid-template-rows: max-content max-content;
}

#uiSignupPagesGettingStartedForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  margin-top: 0.75rem;
}

#uiSignupPagesGettingStartedForm .uiSignupPagesGettingStartedFooterErrorMessage {
  align-self: center;
  justify-self: center;
}

.uiSignupPagesGettingStartedLogoStripContainer {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2.125rem;
}
.uiSignupPagesGettingStartedLogoStrip {
  display: grid;
  grid-template-columns: repeat(6, minmax(auto, 8.25rem));
  max-width: 75rem;
  gap: 5rem;
  margin: 0;
  align-items: center;
  justify-items: center;
}

.uiSignupPagesGettingStartedLogoStrip img {
  width: 100%;
}
