#uiSignupPagesGettingStartedCallouts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: start;
  gap: 12px;
  margin: 0;
  padding-left: 36px;
}
#uiSignupPagesGettingStartedCalloutItem {
  color: var(--grey-000);
  font-size: 21px;
  list-style: disc;
}

#uiSignupPagesGettingStartedFooter {
  border: 2px solid transparent;
  background-color: var(--grey-800);
  padding: 32px 40px;
  border-radius: 8px;
  margin: 40px 0;
}
#uiSignupPagesGettingStartedFooter.uiSignupPagesGettingStartedFooterError {
  border-color: var(--red-500);
}

#uiSignupPagesGettingStartedForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  margin-top: 12px;
}
#uiSignupPagesGettingStartedForm > div {
  display: grid;
  gap: 12px;
  grid-template-rows: max-content max-content;
}
#uiSignupPagesGettingStartedForm .uiSignupPagesGettingStartedFooterErrorMessage {
  align-self: center;
  justify-self: center;
}
