:root {
  --grey-000: #ffffff;
  --grey-100: #f5f5f9;
  --grey-200: #e6e6ea;
  --grey-300: #b6b6c0;
  --grey-500: #868696;
  --grey-700: #3d3d57;
  --grey-800: #25253f;
  --grey-900: #0d0d28;
  --blue-100: #f3fbfe;
  --blue-200: #cceffc;
  --blue-300: #82d4f2;
  --blue-500: #00abe8;
  --blue-700: #0089c7;
  --blue-900: #005992;
  --pink-300: #f26aa6;
  --pink-500: #d82071;
  --pink-700: #8a003c;
  --pink-900: #6d0030;
  --yellow-300: #ffd7a2;
  --yellow-500: #ffbf26;
  --yellow-700: #f0aa00;
  --yellow-900: #bf8700;
  --green-500: #0edf79;
  --red-500: #fc4646;
  --orange-500: #ff8a00;
}

#uiSignupAppMainEntry {
  width: 100vw;
  height: 100vh;
  background-color: var(--grey-900);
  display: grid;
  align-items: center;
  justify-content: center;
  grid-auto-flow: row;
}

/* ELEMENTS */
#uiSignupElementsLink {
  cursor: pointer;
}
#uiSignupElementsIcon {
  color: var(--grey-000);
}
#uiSignupElementsIconGreen500 {
  color: var(--green-500);
}

#uiSignupElementsText {
  color: var(--grey-000);
}
#uiSignupElementsTextBlue200 {
  color: var(--blue-200);
}
#uiSignupElementsTextBlue500 {
  color: var(--blue-500);
}

#uiSignupElementsCheckBox {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  gap: 8px;
}

#uiSignupElementsButton {
  height: 44px;
}
#uiSignupElementsInput {
  background: transparent;
  height: 50px;
  border: 1px solid var(--grey-000);
  padding-left: 16px;
}

#uiSignupElementsContainer {
  position: relative;
  width: 1120px;
  height: 600px;
  display: grid;
  justify-items: stretch;
  align-items: stretch;
  border-radius: 16px;
  border: solid 1px var(--grey-500);
  overflow: hidden;
}
#uiSignupElementsContainer.uiSignupElementsContainer-full-width {
  padding: 0;
  grid-template-columns: 50% 50%;
}
#uiSignupElementsContainer:not(.uiSignupElementsContainer-full-width) {
  padding: 60px 48px 32px 48px;
  width: calc(1120px - 48px - 48px);
  height: calc(600px - 60px - 32px);
  grid-auto-flow: row;
}

#uiSignupElementsContainer:not(.uiSignupElementsContainer-full-width) > section {
  display: grid;
  align-items: stretch;
  justify-items: stretch;
}

#uiSignupElementsContainer.uiSignupElementsContainer-full-width > section {
  background-color: var(--grey-800);
  display: flex;
  flex-direction: column;
  padding-bottom: 45px;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}
#uiSignupElementsContainer > aside {
  display: grid;
  align-items: center;
  justify-items: center;
}

#uiSignupElementsContainerUnsureModal {
  display: grid;
  align-items: center;
  justify-items: center;
  z-index: 1000;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#uiSignupElementsContainerUnsureModalBackdrop {
  background-color: var(--grey-900);
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#uiSignupElementsContainerUnsureModalContent {
  z-index: 1000;
  background-color: var(--grey-700);
  width: calc(400px - 48px);
  display: grid;
  gap: 24px;
  padding: 32px 24px;

  border-radius: 5px;
  box-shadow: 2px 6px 8px 6px rgba(13, 13, 40, 0.5);
  border: solid 1px var(--grey-500);
}

#uiSignupElementsContainerUnsureModalContent footer {
  padding-top: 16px;
}

/* PAGES */
#uiSignupPagesGettingStartedCallouts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: start;
  margin: 32px 0 52px 0;
}
#uiSignupPagesGettingStartedCalloutItem {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 16px;
}

#uiSignupPagesGettingStartedFooter {
  background-color: var(--grey-800);
  padding: 32px 40px;
  border-radius: 8px;
}

#uiSignupPagesGettingStartedForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  margin: 16px 0;
}
#uiSignupPagesGettingStartedForm > div {
  display: grid;
  gap: 8px;
}
#uiSignupPagesGettingStartedForm button {
  align-self: center;
  justify-self: center;
}
