:root {
  --grey-000: #ffffff;
  --grey-100: #f5f5f9;
  --grey-200: #e6e6ea;
  --grey-300: #b6b6c0;
  --grey-500: #868696;
  --grey-700: #3d3d57;
  --grey-800: #25253f;
  --grey-900: #0d0d28;
  --blue-100: #f3fbfe;
  --blue-200: #cceffc;
  --blue-300: #82d4f2;
  --blue-500: #00abe8;
  --blue-700: #0089c7;
  --blue-900: #005992;
  --pink-300: #f26aa6;
  --pink-500: #d82071;
  --pink-700: #8a003c;
  --pink-900: #6d0030;
  --yellow-300: #ffd7a2;
  --yellow-500: #ffbf26;
  --yellow-700: #f0aa00;
  --yellow-900: #bf8700;
  --green-500: #0edf79;
  --red-500: #fc4646;
  --orange-500: #ff8a00;
}

#uiSignupAppMainEntry {
  background-color: var(--grey-900);
  display: grid;
  justify-content: center;
  grid-auto-flow: row;
  grid-auto-rows: max-content;
  gap: 2rem;
  padding: 0 1.25rem;
  padding-top: 7.5rem;
}

.uiSignupAppMainTitle {
  color: var(--grey-000);
  margin-left: 1rem;
}

@media screen and (max-width: 1200px) {
  #uiSignupElementsContainer.uiSignupElementsContainer-full-width,
  #uiSignupElementsContainer:not(.uiSignupElementsContainer-full-width) {
    height: auto;
    width: 900px;
  }
  #uiSignupElementsContainer aside img {
    max-width: 350px;
  }
  #uiSignupPagesGettingStartedForm {
    grid-template-columns: 1fr max-content;
  }
  #uiSignupPagesGettingStartedForm .uiSignupPagesGettingStartedFooterErrorMessage {
    align-self: unset;
    justify-self: unset;
  }
  .uiSignupPagesGettingStartedLogoStrip {
    gap: 2.5rem;
  }
}
@media screen and (max-width: 992px) {
  html {
    font-size: 15px;
  }
  #uiSignupElementsContainer.uiSignupElementsContainer-full-width {
    grid-template-columns: unset;
    width: 31.25rem;
  }
  #uiSignupElementsContainer:not(.uiSignupElementsContainer-full-width) {
    width: auto;
  }
  #uiSignupElementsContainer aside {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
  #uiSignupElementsContainer.uiSignupElementsContainer-full-width {
    width: 31.25rem;
  }
  #uiSignupPagesGettingStartedForm {
    grid-template-columns: unset;
    justify-items: start;
    gap: 1.375rem;
  }
  #uiSignupPagesGettingStartedCallouts {
    grid-template-columns: unset;
  }
  .uiSignupPagesGettingStartedLogoStrip {
    grid-template-columns: repeat(2, minmax(auto, 132px));
    justify-content: center;
  }
}

@media screen and (max-width: 576px) {
  html {
    font-size: 13px;
  }
  #uiSignupElementsContainer.uiSignupElementsContainer-full-width {
    width: auto;
  }
}
